body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('revo-background.png');
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the background image */
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: pink;
  font-size: 20px;
}

nav ul li :hover{
    color:violet; /* Change the background color when the button is active or focused */
    /* font-size: 30px; */
  }

.hero {
  color: pink;
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  margin-top: -30px;
  font-size: 6vw; 
  font-weight: bold;
}

.hero p {
  margin-top: 50px;
  font-size: 3vw; 
  font-weight: bold;
}

button.cta {
  width: 30vw;
  height: 10vh;
  font-size: 2vw;
  border-radius: 20px;
}

.circle {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 auto 20px;
  overflow: hidden;
  transition: transform 0.3s;
}

.circle:hover {
  transform: rotateY(180deg);
}

.logo {
  width: 100%;
  height: 100%;
  background-image: url('revo-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s;
}

.circle:hover .logo {
  transform: rotateY(180deg);
}

/* footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
} */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 3px 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  footer {
      position: fixed;
      bottom: 0;
  }
}


.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin-right: 10px; 
}

.social-icons a:last-child {
  margin-right: 0;
}

footer .social-icons a:hover {
  color: violet;
}
button.cta {
  width: 30%; 
  max-width: 200px; 
  height: 50px; 
  font-size: 1.5vw; 
  border-radius: 20px; 
  margin: 20px; 
  padding: 10px 20px; 
  transition: background-color 0.3s ease; 
}


@media screen and (max-width: 768px) {
  button.cta {
      font-size: 3vw; 
      width: 80%; 
  }
}


@media screen and (min-width: 1200px) {
  button.cta {
      font-size: 20px; 
      width: 200px; 
  }
}


button.cta:hover {
  background-color: #005f73;
  color: white;
}

section.hero ul li {
  text-decoration: none;
  color: pink; 
  font-size: 25px;
  transition: color 0.3s, font-size 0.3s;
  font-weight: bold; 
}


section.hero ul li:hover {
  color: violet; /* Change color on hover */
  font-size: 20px; /* Increase font size on hover */
  font-weight: bold;
}

